* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}

/* Header styling */

.header-container {
  background-image: url("/images/main.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 500px;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 20px 0px 0px 0px;
}

.nav-list ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 40px;
  font-size: 18px;
}

.nav-list li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* .overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
} */

.header-content-container {
  position: relative;
}

.header-content {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 300px;
  line-height: 1;
  letter-spacing: 3px;
}

.header-content p {
  letter-spacing: 7px;
  font-size: 19px;
  font-family: "Open Sans", Sans-serif;
  margin: 20px 0px 20px 0px;
  font-weight: 500;
}

.header-content button {
  font-family: "Open Sans", Sans-serif;
  font-size: 26px;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 16px 32px;
  margin-bottom: 40px;
}

.header-content button:hover {
  background-color: white;
  color: #000;
}

.header-socials {
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 40px 0px 40px 0px;
}

.header-socials p {
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.header-social-links {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.header-social-links a {
  color: white;
}

/* Proposal styling */
.proposal {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.proposal h2 {
  color: #a4a4a4;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: lighter;
}

.proposal h6 {
  color: #474747;
  font-size: 50px;
  font-family: "Poppins";
}

.proposal-cities {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.china {
  position: relative;
}

.china img {
  border-radius: 30px;
  opacity: 0.9;
  width: 600px;
}

.china-content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.china-content a {
  text-decoration: none;
  color: #fff;
  font-size: 85px;
  font-weight: bolder;
}

.china-content p {
  font-family: "Open Sans", Sans-serif;
  font-weight: bolder;
  font-size: 18px;
}

.maldives img {
  height: 100%;
}

.cities {
  padding: 0px;
}

.italy img {
  width: 380px;
  height: 400px;
  opacity: 0.9;
}

/* Discover styling */
.discover {
  text-align: center;
  margin: 80px 0px 160px 0px;
}

.discover button {
  border: 2px solid #e60449;
  background-color: #e60449;
  border-radius: 50px;
  padding: 20px 100px;
}

.discover button:hover {
  background-color: #b6323f;
  border: 2px solid #b6323f;
}

.discover button a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/* Holiday Styling */
.holiday {
  padding: 40px;
  margin: 100px 0px 100px 0px;
  position: relative;
}

.holiday img {
  border-radius: 30px;
  width: 100%;
  background: url("/images/Brazil.jpg");
  background-size: cover;
  background-position: center;
}

.holiday-content {
  position: absolute;
  top: 80px;
  transform: translateX(35%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.holiday-content h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 120px;
  text-align: center;
  line-height: 1;
}

.holiday-content button {
  border: 2px solid white;
  background: transparent;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}

.holiday-content button:hover {
  background-color: #fff;
}

.holiday-content button a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", Sans-serif;
  font-size: 19px;
}

.holiday-content button a:hover {
  color: #000;
  background-color: #fff;
}

/* South America Styling */
.south-america {
  display: flex;

  gap: 30px;
  padding: 40px;
}

.arizona-content {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.arizona-content h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 19px;
}

.arizona-content h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 90px;
}

.arizona-content p {
  color: #aaa;
  line-height: 1.5;
  margin: 18px;
  font-weight: 180;
}

.price {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.discount {
  font-weight: bolder;
  font-size: 40px;
}

.original {
  text-decoration: line-through;
  color: #aaa;
  font-size: 20px;
}

.arizona-content button {
  border: 2px solid #e60449;
  background: #e60449;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  margin-top: 45px;
}

.arizona-content button:hover {
  border: 2px solid #b6323f;
  background: #b6323f;
}

.arizona-content button a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.arizona-image img {
  border-radius: 30px;
  opacity: 0.8;
  position: relative;
}

.arizona-image-text {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #000;
  text-align: center;
  padding: 35px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
  position: absolute;
  transform: translate(50%, -50%);
}

/* Package styling */
.package-container {
  margin-top: 300px;
  font-family: "Roboto", sans-serif;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.package-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.package-heading h2 {
  color: #a4a4a4;
  font-size: 32px;
  font-weight: 350;
  text-transform: uppercase;
}

.package-heading h6 {
  color: #474747;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.packages-details-container {
  display: flex;
  gap: 20px;
  /* padding-left: 40px; */
}

.packages-details {
  position: relative;
}

.packages-image-container {
  border-radius: 20px;
  height: 740px;
  border-radius: 15px;
  width: 400px;
  overflow: hidden;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.packages-image-container:hover {
  box-shadow: rgba(0, 0, 0, 0.5);
  transform: translateY(-20px);
  filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.packages-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0.9;
}

.packages-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  transform: translate(20%, 30%);
  top: 200px;
  font-weight: 300;
}

.packages-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.packages-content h1 a {
  color: #fff;
  text-decoration: none;
}

.packages-content #europe {
  color: #ffffffbf;
  font-weight: 100;
  line-height: 1.5;
}

.packages-content p {
  color: #ffffffcc;
  line-height: 1.5;
}

.packages-content button {
  border: 2px solid #f3aa00;
  background-color: #f3aa00;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.packages-content button:hover {
  border: 2px solid #d67600;
  background: #d67600;
}

#kazaksthan {
  border: 2px solid #00b9f3;
  background-color: #00b9f3;
}

#kazaksthan:hover {
  border: 2px solid #256ca8;
  background: #256ca8;
}

#arabia {
  border: 2px solid #e60449;
  background-color: #e60449;
}

#arabia:hover {
  border: 2px solid #b6323f;
  background-color: #b6323f;
}

/* .background-wrapper {
  background-image: url("/images/surfing.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.5;
} */

/* Message styling */
.message {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  height: 500px;
  z-index: 1;
}

.message::before {
  content: "";
  background-image: url("/images/surfing.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -2;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.message-details {
  display: flex;
  gap: 100px;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  padding: 30px;
}

.message-text h4 {
  text-transform: uppercase;
}

.message-text h2 {
  text-transform: capitalize;
  font-size: 70px;
}

.message-mail {
  display: flex;
  gap: 200px;
  background-color: white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #a4a4a4;
  padding: 10px;
  font-size: 20px;
}

.message-mail input {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  font-style: 30px;
  font-size: 20px;
}

.message-mail button {
  color: white;
  background-color: #00b9f3;
  border: 1px solid #00b9f3;
  margin-top: 0px;
  padding: 14px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
}

/* footer Styling */

footer {
  display: flex;
  font-family: "Roboto", sans-serif;
  margin: 100px 0px 0px 40px;
  gap: 20px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #aaa;
  font-weight: 200;
  flex: 0 0 500px;
  font-size: 18px;
}

.footer-services-container {
  display: flex;
  gap: 120px;
  align-items: center;
  flex: 1;
}

.footer-services {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-services-head {
  text-transform: uppercase;
  font-weight: bold;
}

.footer-services li {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #ccc9c9;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-services li i {
  font-size: 10px;
}

.last {
  text-transform: capitalize;
}
