* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.country-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.country-header h1,
.amazing h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
}

.country-header p {
  color: #aaa;
  font-size: 20px;
}

.country-image {
  padding: 40px;
  margin-bottom: 30px;
}

.amazing {
  padding: 40px;
}

.amazing h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 900;
}

.amazing h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
}

.experience-details {
  padding: 40px;
  font-size: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entrance {
  border-top: 1px solid #d7d3d3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 0px 40px 0px;
  gap: 300px;
}

.title {
  flex: 1;
}

.description {
  flex: 2;
}

.description-lists li {
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  align-items: center;
}

.description-lists li i {
  color: #2bb809;
}

#services li i {
  color: #e60449;
}

.entrance:last-child {
  border-bottom: 1px solid #d7d3d3;
}

/* Gallery styling */
.gallery-images-container {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  gap: 10px;
}

.gallery-images {
  display: flex;
  gap: 5px;
}

.gallery-images img {
  border-radius: 20px;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.gallery-images img:hover {
  filter: brightness(30%);
}

/* Daily Activities Styling */
.daily-activities h6 {
  margin-top: 60px;
}

.activities-details {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  gap: 20px;
}

.activity {
  display: flex;
  align-items: center;
  gap: 30px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #00b9f3;
  border: 1px solid #00b9f3;
  padding: 10px;
  border-radius: 5px;
  height: 40px;
  width: 45px;
  font-weight: bolder;
}

#day {
  color: #636363;
  text-transform: uppercase;
  font-weight: bolder;
}
